{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    <main>
        <!-- Delete Fruit Form -->
        <section id="edit">
            
                <div class="form">
                    <h2>Delete Fruit</h2>
                    <form class="edit-form" action="{% url 'fruit delete' fruit_id=fruit.id %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit">Delete</button>
                    </form>
                </div>
           
        </section>
    </main>
{% endblock %}
