{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    <main>

        <!-- Edit Fruit Form -->
        <section id="edit">
            <div class="form">
                <h2>Edit Fruit</h2>
                <form class="edit-form" action="{% url 'fruit edit' fruit_id=fruit.id %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Edit</button>
                </form>
            </div>
        </section>

    </main>
{% endblock %}